.btn, .disabled {
  overflow: hidden;
  padding: 1.3rem 3.5rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  transition: background-color 0.3s;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
}

.disabled {
  background-color: var(--color-grey);
}

.disabled:hover {
  background-color: var(--color-grey-dark);
}

.btn:focus {
  outline: none;
}

.Square {
  width: 6.3rem;
  height: 4.5rem;
  border: 1px solid var(--color-dark);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.SquareActive {
  border: 2px solid var(--color-primary);
}

.SquareMini {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
}

.SquareFull {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.SquareEmpty {
  border: 1px solid var(--color-grey);
}

.outline {
  background-color: transparent;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  transition: background-color 0.4s, color 0.4s;
}
.outline:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.filled {
  border: none;
}

.filled:hover {
  background-color: rgba(94, 206, 123, 0.8);
}

.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: var(--color-primary);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
