.NavCart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
}

.NavCartCount {
  cursor: pointer;
  position: absolute;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 14px;
  padding: 0.6rem;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6px;
  left: 17px;
}

.MiniCart {
  position: absolute;
}

.rotate {
  animation: rotate 0.4s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
