.Container {
  opacity: 0;
  pointer-events: none;
}

.Backdrop {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 8rem);
  background: rgba(57, 55, 72, 0.22);
}

.Open {
  opacity: 1;
  pointer-events: auto;
}

.Outsidedrop {
  height: 8rem;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
