.NavItem {
  text-transform: uppercase;
  padding: 3rem 1.5rem;
  margin: 0 1rem;
  display: inline-block;
}

.active {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
}



