.CardPage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.Gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 8rem;
}

.MiniGallery {
  display: flex;
  flex-direction: column;
}

.MiniImg {
  width: 8rem;
  height: 8rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.MiniImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.MainImg {
  margin: 0 5rem;
  width: 63rem;
}

.MainImg img {
  width: 100%;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 29.2rem;
}

.Title {
  font-size: 3rem;
  font-weight: 400;
  display: inline-block;
}

.Title span {
  font-weight: 600;
  display: block;
}

.Attributes {
  width: 100%;
}

.AttributeBtns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 0;
}

.AttributeBtns div {
  margin-right: 1rem ;
  margin-bottom: 1rem;
}

.Attribute,
.Price,
.Number {
  font-weight: 700;
  text-transform: uppercase;
}

.Attribute,
.Price {
  font-size: 1.8rem;
}

.Title,
.Attributes,
.Price,
.Number {
  margin-bottom: 5rem;
}

.Number {
  font-size: 2.4rem;
}

.Text {
  line-height: 159.96%;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 4rem;
}

.Text h1{
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 2rem;
}
